.footer-btn, .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0px;
  border-radius: 4px;
  border: none;
  text-align: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: 2px solid tomato;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-container {
  width: 1200px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .logo {
  margin-right: 93px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.hero {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroes/mobile/heroes.svg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/mobile/heroes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroes/tablet/heroes.svg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/tablet/heroes.svg);
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/heroes/desktop/heroes.svg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroes/desktop/heroes.svg);
  }
}

.hero-content {
  width: 360px;
  /*display: flex;*/
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-width: 1200px) {
  .hero-content {
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.page-title {
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .page-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 0px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
  }
}

.section-title {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list {
  display: block;
  /**/
}

@media (min-width: 768px) {
  .features-list {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .features-list:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features-list:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .features-list {
    -ms-flex-preferred-size: calc(100% / 4 - 30px);
        flex-basis: calc(100% / 4 - 30px);
  }
  .features-list:nth-child(2n + 1) {
    margin-right: 0px;
  }
  .features-list:nth-child(n + 3) {
    margin-top: 0px;
  }
  .features-list:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .features-list::before {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .features-list::before {
    width: 270px;
  }
}

.features-list:nth-child(1)::before {
  background-image: url(../images/features/antenna.svg);
}

.features-list:nth-child(2)::before {
  background-image: url(../images/features/clock.svg);
}

.features-list:nth-child(3)::before {
  background-image: url(../images/features/diagram.svg);
}

.features-list:nth-child(4)::before {
  background-image: url(../images/features/astronaut.svg);
}

.features-scroll {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.features-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
}

.occupation {
  position: absolute;
}

.occupation-container {
  display: none;
}

@media (min-width: 1200px) {
  .occupation {
    position: static;
  }
  .occupation-container {
    display: block;
  }
  .occupation-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 50px;
  }
  .occupation-item-list {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-left: 0px;
  }
  .occupation-item-list:not(:last-child) {
    margin-right: 30px;
  }
  .occupation-item-list > img {
    display: block;
    width: 100%;
    height: auto;
  }
  .occupation-label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media (min-width: 1200px) {
  .command {
    margin-top: 94px;
  }
}

.command-container {
  background-color: #f5f4fa;
  margin-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .command-container {
    margin-top: 0px;
    padding-bottom: 94px;
  }
}

.command-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .command-item {
    padding-top: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.command-members {
  display: block;
  border: 1px;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.command-members:not(:first-child) {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .command-members {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .command-members:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .command-members:nth-child(2) {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .command-members {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
    /*&:nth-child(2n + 1) {
      margin-right: 0px;
    }*/
  }
  .command-members:nth-child(n + 3) {
    margin-top: 0px;
  }
  .command-members:not(:last-child) {
    margin-right: 30px;
  }
}

.command-name {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.command-jobs {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.clients {
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .clients {
    padding-bottom: 94px;
  }
}

.clients-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .clients-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 50px;
  }
}

.clients-companies {
  width: calc((100% - 30px) / 2);
}

.clients-companies:nth-child(2n + 1) {
  margin-right: 30px;
}

.clients-companies:nth-child(n + 3) {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .clients-companies {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .clients-companies:nth-child(3n + 3) {
    margin-right: 0px;
  }
  .clients-companies:nth-child(n + 3) {
    margin-top: 0px;
  }
  .clients-companies:nth-child(n + 4) {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .clients-companies {
    width: calc((100% - 60px) / 6);
  }
  .clients-companies:not(:last-child) {
    margin-right: 30px;
  }
  .clients-companies:nth-child(n) {
    margin-top: 0px;
  }
}

.clients-companies-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .clients-companies-link {
    max-width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients-companies-link {
    width: 170px;
  }
}

.clients-companies-link:hover, .clients-companies-link:focus {
  border: 1px solid #2196f3;
}

.clients-companies-logo {
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-companies-link:hover .clients-companies-logo,
.clients-companies-link:focus .clients-companies-logo {
  fill: #2196f3;
}

footer {
  background-color: #2f303a;
}

.footer {
  display: block;
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-logo {
  display: block;
}

@media (min-width: 768px) {
  .footer-logo {
    margin-left: 60px;
  }
}

@media (min-width: 1200px) {
  .footer-logo {
    margin-left: 0px;
    margin-right: 70px;
  }
}

.footer-logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-address {
  display: block;
  padding-top: 20px;
}

.link-styles {
  font-style: normal;
  color: #ffffff;
  padding-bottom: 60px;
  /*> li {
    padding-top: 9px;
  }*/
}

@media (min-width: 768px) {
  .link-styles {
    padding-bottom: 0px;
  }
}

.link-styles > li {
  padding-top: 8px;
}

.link-styles > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-styles > li:first-child {
  padding-top: 0px;
}

.logo-web-footer {
  color: #ffffff;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.7);
}

.footer-icons {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin-right: 93px;*/
}

@media (min-width: 768px) {
  .footer-icons {
    margin-right: 75px;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .footer-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
    margin-top: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-icons-block {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .footer-icons-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 0px;
  }
}

@media (min-width: 1200px) {
  .footer-form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-icons-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-icons-title {
    padding-top: 12px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-icons-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover, .footer-social-icons-link:focus {
  background-color: #2196f3;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-form {
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-form-fild {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-form-fild {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-form-fild {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form-input {
  width: 100%;
  height: 100%;
  background-color: #2f303a;
  border: none;
  padding-left: 16px;
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.footer-form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  padding: 10px 29px;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
}

.footer-btn:hover, .footer-btn:focus {
  background-color: #ffffff;
  color: #2196f3;
}

.footer-btn:hover .logo-send,
.footer-btn:hover .logo-send, .footer-btn:focus .logo-send,
.footer-btn:focus .logo-send {
  fill: #2196f3;
}

@media (min-width: 1200px) {
  .footer-btn {
    margin-top: 0px;
  }
}

.footer-form-input:-webkit-autofill,
.footer-form-input:-webkit-autofill:hover,
.footer-form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #2f303a inset;
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu .active {
  color: #2196f3;
}

.menu .active::after {
  content: "";
  position: absolute;
  bottom: -125%;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.menu-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.logo-mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-mail {
  display: block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .logo-mail,
.link:focus .logo-mail {
  fill: #2196f3;
}

.logo-phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-phone {
  display: block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .logo-phone,
.link:focus .logo-phone {
  fill: #2196f3;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

.list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-link:not(:last-child) {
  margin-right: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
}

.logo-close {
  width: 18px;
  height: 18px;
  fill: black;
}

.modal-title {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.modal-form:focus-within .modal-title {
  color: #2196f3;
}

.modal-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 12px;
  margin-bottom: 40px;
}

.modal-form > div:nth-child(4) {
  margin-bottom: 20px;
}

.modal-form > button {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-feald {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-feald label {
  margin-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-feald input {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-feald input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-feald textarea {
  resize: none;
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-feald textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-feald textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-feald textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-feald textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-feald textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-feald input:-webkit-autofill,
.modal-form-feald input:-webkit-autofill:hover,
.modal-form-feald input:-webkit-autofill:focus {
  -webkit-text-fill-color: #212121;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 55px;
  border-radius: 4px;
  border: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.modal-logo {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  bottom: 11px;
  margin-left: 12px;
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-feald input:focus + .modal-logo {
  fill: #2196f3;
}

.modal-form-feald input:not(:placeholder-shown):valid {
  border-color: green;
}

.modal-form-feald input:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0px;
}

.modal-conditions label {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
  padding-right: 122px;
  padding-left: 122px;
}

@media (min-width: 768px) {
  .social-icons {
    padding-right: 74px;
    padding-left: 74px;
  }
}

@media (min-width: 1200px) {
  .social-icons {
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

.social-icons-items:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  /*background-color: #2f303a;*/
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover, .social-icons-link:focus {
  background-color: #2196f3;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: #ffffff;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-check {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  color: #2196f3;
}

.logo-send {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */