.btn {
  @extend %btn;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: inherit;
  @include fonts(16px, 700, 1.87, 0.06em);
  color: $white;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
