.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-check {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid $main-text-color;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-check {
  background-color: $accent-color;
  border-color: $accent-color;
  background-image: url(../images/icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  font-family: $main-font-family;
  @include fonts(14px, 400, 1.71);
  color: $title-color;
}

.checkbox-link {
  color: $accent-color;
}
