  .container-item {
    display: flex;
    flex-wrap: wrap;

    @include for-size(tablet) {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }
  
  .container-menu-item {
    margin-bottom: 15px;

    &:not(:last-child) {
      margin-right: 8px;
    }

    @include for-size(tablet) {
      margin-bottom: 0px;
    }  
  }