.list-link {
  display: flex;
}

.cont-link:not(:last-child) {
  margin-right: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: $main-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

}

.menu-link {
  @include fonts(14px, 500, 1.14, 0.02em);
  color: $main-text-color;
}

.contact-link {
  display: flex;
  align-items: center;
  @include fonts(14px, 500, 1.14, 0.02em);
  color: $title-color;
}
