.header-container {
  /*position: fixed;*/
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*z-index: 1000;*/

  @include flex(flex, space-between, center) .logo {
    @include for-size(tablet) {
      margin-right: 88px;
    }

    @include for-size(desktop) {
      margin-right: 93px;
    }
  }

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;

    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include for-size(desktop) {
    width: 1200px;

    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.menu {
  display: none;

  @include for-size(tablet) {
    display: inline-flex;
  }
}

.menu-item {
  display: flex;
}

.menu-item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}

.navigation {
  display: none;
  align-items: center;
  margin-right: auto;

  @include for-size(tablet) {
    display: flex;
  }
}

.header-mobile-btn {
  /*@include flex();
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);*/
  background-color: $white;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border: none;

  .mobile-icon-close {
    display: none;
  }

  &.is-open .mobile-icon-close {
    display: block;
  }

  &.is-open .mobile-icon-open {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.header-logo-open {
  width: 24px;
  height: 16px;
  fill: black;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.list-link {
  display: none;

  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include for-size(desktop) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.cont-link {
  &:not(:last-child) {
    @include for-size(tablet) {
      margin-bottom: 10px;
    }

    @include for-size(desktop) {
      margin-bottom: 0px;
      margin-right: 30px;
    }
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fonts(18px, 500, 1.16, 0.02em);
  color: $title-color;

  @include for-size(tablet) {
    @include fonts(14px, 500, 1.14, 0.02em);
  }
}

.menu-link {
  @include fonts(18px, 500, 1.16, 0.02em);
  color: $main-text-color;

  @include for-size(tablet) {
    @include fonts(14px, 500, 1.14, 0.02em);
  }
}

/*.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fonts(14px, 500, 1.14, 0.02em);
  color: $title-color;
}*/

.header-mobile-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  &.is-open {
    display: block;
    /*display: flex;*/
    flex-direction: column;
  }

  @include for-size(tablet) {
    display: none;
  }
}

.header-mobile-navigation {
  padding-top: 60px;

  li:not(:first-child) {
    margin-top: 40px;
  }
}

.header-mobile-contact {
  padding-top: 60px;
  padding-bottom: 60px;

  li:not(:first-child) {
    margin-top: 16px;
  }
}

.header-mobile-menu {
  /*display: flex;*/
  text-align: center;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list .active {
  color: $accent-color;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(100% + 7px);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    @include for-size(tablet) {
      top: calc(100% + 28px);
    }
  }

  /*@include for-size(desktop) {
    &::after {
      content: "";
      position: absolute;
      bottom: -220%;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }*/
}
