body {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $title-color;
}

*, ::after, ::before {
  box-sizing: inherit;
  outline: 2px solid tomato;
}

html {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}



.header {
  background-color: $white;
  border-bottom: 1px solid #ececec;
}

h1,
h2,
h3 {
  margin-top: 0px;
}


.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
