@mixin fonts ($fs, $fw, $lh, $ls:0.03em) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex($df:flex, $jc:center, $ai:center) {
  display: $df;
  justify-content: $jc;
  align-items: $ai;
}