$main-text-color: #212121;
$accent-color: #2196f3;
$title-color: #757575;
$white: #ffffff;
$white-background: #e5e5e5;
$footer-background: #2f303a;
$clients: #afb1b8;
$feautures-logo: #f5f4fa;
$btn-background: #f5f4fa;
$line: #eeeeee;

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
