.clients {
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-bottom: 94px;
  }
}

.clients-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;

  @include for-size(desktop) {
    flex-wrap: nowrap;
    padding-top: 50px;
  }
}

.clients-companies {
  width: calc((100% - 30px) / 2);

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }

  &:nth-child(n + 3) {
    margin-top: 30px;
  }

  @include for-size(tablet) {
    width: calc((100% - 60px) / 3);

    margin-right: 30px;

    &:nth-child(3n + 3) {
      margin-right: 0px;
    }

    &:nth-child(n + 3) {
      margin-top: 0px;
    }

    &:nth-child(n + 4) {
      margin-top: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 60px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:nth-child(n) {
      margin-top: 0px;
    }
  }
}

.clients-companies-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid $clients;
  border-radius: 4px;
  transition: $main-transition;

  @include for-size(tablet) {
    max-width: 226px;
  }

  @include for-size(desktop) {
    width: 170px;
  }  

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients-companies-logo {
  fill: $clients;
  transition: $main-transition;
}

.clients-companies-link:hover .clients-companies-logo,
.clients-companies-link:focus .clients-companies-logo {
  fill: $accent-color;
}
