.features-item {
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  display: block;
  /**/
  @include for-size(tablet) {
    flex-basis: calc(100% / 2 - 30px);

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &:nth-child(n + 3) {
      margin-top: 30px;
    }
    
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 4 - 30px);

    &:nth-child(2n + 1) {
      margin-right: 0px;
    }

    &:nth-child(n + 3) {
      margin-top: 0px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    content: "";
    display: block;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $feautures-logo;
    background-repeat: no-repeat;
    background-position: center;

    @include for-size(tablet) {
      width: 354px;
    }

    @include for-size(desktop) {
      width: 270px;
    }

  }

  &:nth-child(1)::before {
    background-image: url(../images/features/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/features/clock.svg);
  }
  
  &:nth-child(3)::before {
    background-image: url(../images/features/diagram.svg);
  }
  
  &:nth-child(4)::before {
    background-image: url(../images/features/astronaut.svg);
  }
}


.features-scroll {
  font-family: $main-font-family;
  @include fonts(14px, 700, 1.14);
  color: $main-text-color;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.features-description {
  @include fonts(14px, 400, 1.71);
  color: $title-color;
  margin-top: 10px;
  margin-bottom: 0px;
}
