.section {
  padding-top: 94px;
  padding-bottom: 0px;
}

.section-title {
  font-family: $main-font-family;
  @include fonts(36px, 700, 1.16);
  text-align: center;
  color: $main-text-color;
  margin-top: 0px;
  margin-bottom: 0px;
}
