.section {
  padding-top: 60px;
  padding-bottom: 0px;

  @include for-size(desktop) {
    padding-top: 94px;
  }
} 

.section-title {
  font-family: $main-font-family;
  @include fonts(28px, 700, 1.18);
  text-align: center;
  color: $main-text-color;
  margin-top: 0px;
  margin-bottom: 0px;

  @include for-size(desktop) {
    @include fonts(36px, 700, 1.16);
  }
}
